body {
  margin: 0;
  padding: 0;
  padding-top: 150px;
}

.container {
  max-width: 950px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}

.main-box {
  padding: 50px 20px 200px 20px;
}

.main-box__inner {
  text-align: center;
}

.main-box__content-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin-bottom: 50px;
  color: white;
}

.main-box__number {
  margin: 0;
  color: darkgrey;
}

.buttons-list {
  margin-right: -20px;
  margin-bottom: 10px;
}

.buttons-list__button {
  margin-right: 20px;
  padding: 10px 25px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.buttons-list__button:hover {
  opacity: 0.7;
}

.buttons-list__button:active {
  opacity: 0.5;
}

.button-start {
  background-color: rgb(15, 163, 15);
}

.button-pause {
  background-color: rgb(73, 73, 253);
  padding: 10px 80px;
}

.button-reset {
  background-color: transparent;
  color: red;
}

.saving-box {
  display: flex;
  padding: 0 120px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.saving-box__content {
  width: 100%;
  padding: 6px 5px 6px;
  background-color: rgb(228, 222, 222);
  text-align: start;
  margin-right: 10px;
  border-radius: 3px;
}

.saving-box__button {
  display: flex;
  border: none;
  background-color: rgba(255, 0, 47, 0.802);
  border-radius: 6px;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s eased;
}

.saving-box__button:hover {
  opacity: 0.7;
}

.saving-box__button:active {
  opacity: 0.5;
}
